    <!-- Services Section -->
    <section id="brands">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Brands</h2>
                    <h3>ICS Specialist Brands</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h4>International Coating Services</h4>
                    <p>General Industrial & Marine Corrosion Protection Division</p>
                </div>
                <div class="col-lg-4">
                    <h4>SuperYacht Finishing</h4>
                    <p>Yacht Fairing & Painting Division</p>
                </div>
                <div class="col-lg-4">
                    <h4>Pyroward</h4>
                    <p>Intumescent Coating Fire Protection Division</p>
                </div>
            </div>
        </div>
    </section>