    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <h4>International Coating Services GmbH</h4>
                    <h5>Address</h5>
                    <p>Hütten 95c<br>20355 Hamburg<br>Germany</p>
                    <h5>Geschäftsführer</h5>
                    <p>
                        Charles Richard Precious
                    </p>
                    <h5>Telephone</h5>
                    <p>
                        <a href="tel:+491749193288">+49 174 9193288</a>
                    </p>
                    <h5>Email</h5>
                    <p>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                    <h5>Tax / SteuerNr.</h5>
                    <p>
                        48/734/06270
                    </p>
                    <h5>VAT / USt.-IDNr.</h5>
                    <p>
                        DE306742998
                    </p>
                    <h5>Registergericht</h5>
                    <p>
                        Hamburg
                    </p>
                    <h5>Registernummer</h5>
                    <p>
                        HRB 141608
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2">
                    <h4>International Coating Services BV</h4>
                    <h5>Address</h5>
                    <p>Zuidsingel 1<br>4571HP Axel<br>Netherlands</p>
                    <h5>Algemeen Directeur</h5>
                    <p>
                        Klaas Apperlo
                    </p>
                    <h5>Telephone</h5>
                    <p>
                        <a href="tel:+31631976669">+31 631 976669</a>
                    </p>
                    <h5>Email</h5>
                    <p>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                    <!--<h5>Tax / SteuerNr.</h5>
                    <p>
                        
                    </p>
                    <h5>VAT / USt.-IDNr.</h5>
                    <p>
                        
                    </p>-->
                    <h5>Registergericht</h5>
                    <p>
                        Utrecht
                    </p>
                    <h5>Registernummer</h5>
                    <p>
                        70104069
                    </p>
                </div>
                <!--<div class="col-lg-10 col-lg-offset-1">
                    <h5>Email</h5>
                    <p>
                        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                    </p>
                </div>-->
            </div>
        </div>
    </section>