    <!-- Intro Header -->
    <header id="intro">
        <div id="intro-body">
            <div class="container">
                <div class="row">                    
                    <div id="intro-logo" class="col-md-12">
                    </div>
                    <div class="col-md-10 col-md-offset-1">                        
                        <h1 id="intro-heading">{{ site.organisation }}</h1>
                        <h3 id="intro-description">{{ site.description }}</h3>
                        <a id="intro-scroll" href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>