    <!-- Services Section -->
    <section id="services">
        <div class="container text-center">

            <div class="row">
                <div class="col-lg-12">
                    <h2>Services</h2>
                    <h3>Services</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/application.jpg' | relative_url }}" alt="Application Service">
                    <h4>Coatings Application</h4>
                    <p>Services Description</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/inspection.jpg' | relative_url }}" alt="Inspection Service">
                    <h4>Inspection & Surveys</h4>
                    <p>Services Description</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/management.jpg' | relative_url }}" alt="Management Service">
                    <h4>Project Management & Quality Control</h4>
                    <p>Services Description</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/technical.jpg' | relative_url }}" alt="Technical Service">
                    <h4>Technical Consulting</h4>
                    <p>Services Description</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/quantity.jpg' | relative_url }}" alt="Quantity Service">
                    <h4>Quantity Analysis</h4>
                    <p>Services Description</p>
                </div>
                <div class="col-lg-4 col-lg-offset-0">
                    <img class="gallery-image" src="{{ 'assets/img/services/documentation.jpg' | relative_url }}" alt="Documentation Service">
                    <h4>Documentation</h4>
                    <p>Services Description</p>
                </div>
            </div>

        </div>
    </section>