---
---

$color-text: {{ site.color.text }};
$color-background: {{ site.color.background }};
$color-links: {{ site.color.links }};
$color-borders: {{ site.color.borders }};
$color-highlight: {{ site.color.highlight }};
$color-selection: {{ site.color.selection }};

//$image-ics-logo: "{{ 'assets/img/ICS-logo-black.png' | relative_url }}";
//$image-syf-logo: "{{ 'assets/img/syf-gaps-r1-stroked.svg' | relative_url }}";

@import "base";